        *{
            padding: 0;
            margin: 0;
        }
        body{
            font-family:"Open Sans", Helvetica, Arial, sans-serif;
            font-weight:300;
            font-size: 12px;
            line-height:30px;
            color:#777;
        }
        .header{
            width: 15%;
            height: 100vh;
            background-color: grey;
            float: left;
        }
        .content{
            width: 70%;
            height: 100vh;
            background-color: #c4cad3;
            float: left;
        }
        .side{
            width: 15%;
            height: 100vh;
            background-color: #c4cad3;
            float: left;
        }

        .sidenav {
          height: 83%;
          width: 100%;
          top: 0;
          left: 0;
          background-color: black;
        font-family:"Open Sans", Helvetica, Arial, sans-serif;
          padding-top: 20px;
        }

        .sidenav a {
          padding: 6px 8px 6px 16px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
        }

        .sidenav a:hover {
          color: #f1f1f1;
        }

        .logo1{
          width: 100%;
          margin-top: 0px;
        }

        .nib1{
          color: white;
          margin-left: 31%;
          font-size: 17px;
          font-family:"Open Sans", Helvetica, Arial, sans-serif;
          font-weight:300;
          font-size: 12px;
          line-height:30px;
        }
        .nib2{
          margin-top: 40%;
          margin-left: 45%;
          position: sticky;
        }
        .nib3{
          font-family:"Open Sans", Helvetica, Arial, sans-serif;
        }

        .contact1{
          background-color: grey;
          color: black;
        }
